<div class='content'>
  <div id='search-box'>
    <%= form_tag('/tweets/search', method: :get) do %>
      <%= text_field_tag :tweet, nil, id: 'tweet_search', name: 'keyword', placeholder: 'Please Enter Keyword', style: 'width: 200px;' %>
      <button title='Search' tupe='submit'>Search</button>
    <% end %>
  </div>

  <div id='tweet_list'>
    <%= render partial: 'tweet_list' %>
  </div>
</div>